.conteneur_general_load_10 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
overflow:hidden;
  width:240px;    
  height:120px;    

animation: sup  forwards ;
animation-duration: 3s;
animation-delay: 0s;
animation-timing-function: linear ;
animation-timing-function: forwards;
opacity: 0;
} 


@keyframes sup {
  
  from {opacity: 1,}
  
  80% {opacity: 1}
 
  to {opacity: 0;}
}

.cle_bleu_load_10 {
border-radius:50px;
width:50px;
height:50px;
  
border-top:10px solid #9356dc;
border-right:10px solid #FF79da;              
border-bottom:10px solid #99E2d0;
border-left:10px solid #00A096;
animation: load_dix  forwards ;
animation-duration: 4s;
animation-delay: 0s;
animation-timing-function: linear ;
animation-timing-function: forwards;
}

@keyframes load_dix{
  0%{transform:rotate(0deg);
    opacity: 1;
  }
  50%{transform:rotate(360deg)}
  100%{transform:rotate(720deg);
        opacity:0;
    }}


body {
font-size: 2em;
animation-name: load  ;
animation-duration: 4s;
animation-delay: 0s;
animation-timing-function: linear;
animation-timing-function: ease-in;

}

.load {
font-size: 2em;
animation-name: load  ;
animation-duration: 4s;
animation-delay: 0s;
animation-timing-function: linear;
animation-timing-function: ease-in;

}

@keyframes load {
  0%  { background: black; }
  100% { background: white; }
}


@keyframes onto {
0%  { background: black; 
        opacity: 0;
}
90% { background: white; 
          opacity: 0;
}


100% { background: white; 
          opacity: 1;
}
}