@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}


body {
  min-height: 100vh;
  width: 100%;
}



.onpart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: onto 3s ease-in forwards;
  opacity: 0;
  width: 100%;
}


header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toto2 {
  height: 50px;
  width: 140px;
}



.premiere {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  width: 100%;
  font-weight: bold;
}

.map {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ccc;
  width: 100%;
  height: 30px;
}


.reserver {
  text-align: center;
  width: 100%;
  margin: 0px 0px 0px 0px;
  background: #f2f2f2;  
  padding:20px 0px 0px 0px;
}

.decouvrez {
  text-align: center;
  width: 98%;
  margin: 10px 0px 10px 0px;
}

.btn_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  border-radius: 50px 50px;
  height: 30px;
  border: none;
  box-shadow: 1px 7px 11px 1px rgba(0, 0, 0, 0.52);
  margin: 0px 0px 0px 0px;
  padding: 0px 20px 0px 20px;
  font-size: 16px;
}

.btn_1:hover {
  color: #000;
  background: #ff79da;
  background: linear-gradient(90deg, #ff79da 0%, rgba(147, 86, 220, 0.2489729168) 35%);
  box-shadow: 1px 7px 11px 1px rgba(0, 0, 0, 0.82);
  cursor: pointer;
}

.btn_2 {
  width: 70%;
}

.choix_bis:hover {
  color: #000;
  font-weight: bold;
  background-color: rgba(220, 220, 220, 0.1);
  box-shadow: 1px 7px 11px 1px rgba(0, 0, 0, 0.82);
}

.choix_bis2:hover {
  color: #000;
  font-weight: bold;
  background-color: rgba(220, 220, 220, 0.1);
  box-shadow: 1px 7px 11px 1px rgba(0, 0, 0, 0.82);
}

.center_button {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: 0px 0px 20px 0px;
}

.ico_map {
  width: 20px;
  height: 20px;
  margin-right: 20px;
}



.mobile {
  width: 16px;
  height: 16px;
}

.list {
  width: 16px;
  height: 16px;
}

.store {
  width: 16px;
  height: 16px;
  color: #9356dc;
}

.heart {
  width: 20px;
  height: 20px;
  margin: 0px 0px 0px 10px;
}

.choix {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 280px;
  font-weight: bold;
}
.fonctionnement {
  margin:0px 0px 0px 0px;
  font-size: 16px;
  width: 280px;
}

.choix_bis {
  display: grid;
  grid-template-columns: 30px 40px 200px;
  grid-template-rows: 1fr;
  align-items: center;
  border-radius: 15px;
  height: 50px;
  background: #f2f2f2;
  box-shadow: 1px 7px 11px 1px rgba(0, 0, 0, 0.52);
  font-size: 12px;
  width: 70%;
}

.choix_bis2 {
  display: grid;
  grid-template-columns: 30px 40px 200px;
  grid-template-rows: 1fr;
  align-items: center;
  grid-auto-rows: minmax(150px, auto);
  border-radius: 15px;
  height: 50px;
  background: #f5edff;
  box-shadow: 1px 7px 11px 1px rgba(0, 0, 0, 0.52);
  font-size: 12px;
  width: 70%;
  margin: 0px 0px 10px 0px;
}

.m_rond {
  transform: translate(-10px, -5px);
}

.rond {
  border-radius: 50%;
  border: solid 1px #9356dc;
  background: #9356dc;
  color: white;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
}

.coco {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  /*width: 100%;*/
}



.tete {
  display: flex;
  border-radius: 10px 10px 0px 0px;
  margin: 0px 0px 20px 0px;
  width: 290px;
}

.menil_rond {
  border-radius: 20px 20px 0px 0px;
  width: 290px;
  height: 220px;
  background: white;
}

.image_back1 {
  margin: 0px 0px 0px 0px;
}

.image_back2 {
  margin: 0px 0px 0px 0px;
}

.nouveau {
  position: absolute;
  background: #99e2d0;
  text-align: center;
  margin: -210px 0px 0px 200px;
  color: #008766;
  width: 80px;
  font-size: 16px;
}

.nouveau2 {
  position: absolute;
  background: #99e2d0;
  text-align: center;
  color: #008766;
  width: 80px;
  margin: -210px 0px 0px 200px;
  font-size: 16px;
}



.restaurant {
  display: flex;
  width: 290px;
  font-size: 16px;
  margin: 15px 0px 20px 10px;
}

.commentaire {
  display: grid;
  grid-template-columns: 250px 40px;
  grid-template-rows: 1fr 1fr;
  /*align-items: center;*/
  background: white;
  margin: -10px 0px 0px 0px;
  height: 50px;
  border-radius: 0px 0px 20px 20px;
  width: 290px;
}

.com1 {
  grid-column: 1;
  grid-row: 1;
  margin: 5px 0px 0px 10px;
  font-size: 16px;
}

.com2 {
  grid-column: 1;
  grid-row: 2;
  margin: 0px 0px 0px 10px;
  font-size: 16px;
}

.com3 {
  grid-column: 2;
  grid-row: 1/span 2;
  margin: 15px 0px 0px 0px;
  font-size: 16px;
}

.bado {
  background: url("../images/icone/heart.svg");
  width: 16px;
  height: 16px;
}

.bado:hover {
  background-image: none;
  background: url("../images/icone/heart_violet.svg") no-repeat;
}



.blanc {
  background: white;
  border-radius: 0px 0px 10px 10px;
  margin: 0px 0px 0px 0px;
  padding: 10px 0px 0px 0px;
}

.gras {
  font-weight: bold;
}


footer {
  background: #535353;
  height: 180px;
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 15px 20px;
}

.fou {
  width: 100%;
  height: 20px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 15px 0px;
}
.foo1 {
  height: 20px;
}
.foufou {
  height: 30px;
}
.foo2 {
  color: white;
  font-size: 16px;
}
a:link { 
  text-decoration:none; 
} 
.icone {
  width: 16px;
  height: 16px;
  margin: 0px 10px 0px 0px;
}