@media (min-device-width : 769px) and (max-device-width : 1300px) {
.map {
  font-size:40px;
}
.ico_map {width: 30px;height: 30px;}
.reserver {font-size: 30px;}
.choix_bis {width: 96%;}
.choix_bis2 {width: 96%;}
.fonctionnement {

font-size: 25px;
width: 96%;
}
.container {
  height: 80px;
}

.OHM {
  width: 400px;
}

.toto2 {
  width: 400px;
  height: 80px;
}

.paris {
  font-size: 30px;
}
}