body {
padding: 0;
margin: 0;
background: yellow;
}


.contai {
background-color:#d3d3d3;
/*width: 240px;*/
}




.teste1 {
display: flex;
align-items: center;
/*justify-content: center;*/
width: 260px;
/*height: 50px;*/
background: white;
border-radius: 10px;
border:solid blue 1px;

}



.teste2 {  /** texte**/
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}


.teste3 {   /** 20€ **/

/*flex-direction: row;
flex-wrap: wrap;*/
margin-left: 10px;
}




.teste4 {
border-radius: 0px 10px 10px 0px;
/*white-space: nowrap;*/
opacity: 1;
background: #99e2d0;
}


/*@keyframes rota {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

/*@keyframes opa {
  from { opacity: 1; }
  to { opacity: 0; }
}*/



@keyframes toto {
from { margin-right: 0px; 

}
to { margin-right: -50px; 

}
}



.teste1:hover>.teste4 {
animation: toto 2s 1s linear forwards;
}


/*.teste1:hover > .teste4 > .taille {
animation: rota 1s 1s linear forwards;
}

.teste1:hover > .teste4 {
animation: opa 2s 2s linear forwards;
}*/


.taille {
width: 50px;
height:50px;
background: white;
border-radius:50%;
}
