@charset "UTF-8";
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  animation: load forwards;
  animation-duration: 6s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-timing-function: forwards;
  width: 100%;
  height: 100%;
}

.conteneur_general_load_10 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  width: 145px;
  height: 85px;
  padding: 0px 0px 0px 0px;
}

.cle_bleu_load_10 {
  border-radius: 50px;
  width: 50px;
  height: 50px;
  border-top: 10px solid #CB2025;
  border-right: 10px solid white;
  border-bottom: 10px solid #F8B334;
  border-left: 10px solid white;
  animation: load_dix forwards;
  animation-duration: 10s;
  animation-delay: 0;
  animation-timing-function: linear;
  animation-timing-function: forwards;
  animation-timing-function: ease-in;
}

@keyframes load_dix {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
    opacity: 0;
  }
}
@keyframes load {
  from {
    opacity: 0;
    background-color: #000;
  }
  50% {
    opacity: 0;
    background-color: #000;
  }
  to {
    opacity: 1;
  }
}
.conteneur {
  width: 100%;
}

.div_logo {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  width: 140px;
  height: 50px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  background: #f2f2f2;
  align-items: center;
  height: 280px;
}

/*********/
/****/
.map {
  background: #ccc;
  width: 100%;
  height: 40px;
}

.map11 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 140px;
}

.map21 {
  margin: 0px 10px 0px 0px;
}

.ico_map {
  width: 15px;
  height: 15px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 340px;
}

.reserver {
  margin: 0px 0px 0px 40px;
  font-size: 1.8em;
}

.decouvrez {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.btn_1 {
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  border-radius: 50px 50px;
  height: 40px;
  border: none;
  box-shadow: 1px 7px 11px 1px rgba(0, 0, 0, 0.52);
  width: 200px;
}

.btn_1:hover {
  color: #000;
  font-weight: bold;
  background: #ff79da;
  background: linear-gradient(90deg, #ff79da 0%, rgba(147, 86, 220, 0.2489729168) 35%);
  box-shadow: 1px 7px 11px 1px rgba(0, 0, 0, 0.82);
}

.choix_bis:hover {
  color: #000;
  font-weight: bold;
  background-color: rgba(220, 220, 220, 0.1);
  box-shadow: 1px 7px 11px 1px rgba(0, 0, 0, 0.82);
}

.choix_bis2:hover {
  color: #000;
  font-weight: bold;
  background-color: rgba(220, 220, 220, 0.1);
  box-shadow: 1px 7px 11px 1px rgba(0, 0, 0, 0.82);
}

.center_button {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.choix {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 220px;
}

.mobile {
  width: 16px;
  height: 16px;
}

.list {
  width: 16px;
  height: 16px;
}

.store {
  width: 16px;
  height: 16px;
  color: #9356dc;
}

.heart {
  width: 16px;
  height: 16px;
  margin: 0px 0px 0px 10px;
}

.fonctionnement {
  width: 270px;
}

.choix_bis {
  display: grid;
  grid-template-columns: 30px 40px 160px 40px;
  grid-template-rows: 1fr;
  align-items: center;
  grid-auto-rows: minmax(150px, auto);
  border-radius: 15px;
  height: 50px;
  background: #f2f2f2;
  box-shadow: 1px 7px 11px 1px rgba(0, 0, 0, 0.52);
}

.choix_bis2 {
  display: grid;
  grid-template-columns: 30px 40px 160px 40px;
  grid-template-rows: 1fr;
  align-items: center;
  grid-auto-rows: minmax(150px, auto);
  border-radius: 15px;
  height: 50px;
  background: #f5edff;
  box-shadow: 1px 7px 11px 1px rgba(0, 0, 0, 0.52);
}

.m_rond {
  transform: translate(-10px);
}

.rond {
  border-radius: 50%;
  border: solid 1px #9356dc;
  background: #9356dc;
  color: white;
  width: 17px;
  height: 17px;
  text-align: center;
}

.btnchoix {
  height: 40px;
  width: 200px;
}

.teste {
  border-radius: 10px 10px 0px 0px;
  width: 280px;
  height: 150px;
}

.tete {
  border-radius: 10px 10px 0px 0px;
  margin: 0px 0px 20px 0px;
}

.menil_rond {
  border-radius: 20px 20px 0px 0px;
  width: 340px;
  height: 220px;
  background: white;
}

.image_back1 {
  margin: 0px 0px 0px 0px;
}

.image_back2 {
  margin: 0px 0px 0px 0px;
}

.nouveau {
  position: absolute;
  background: #99e2d0;
  text-align: center;
  margin: -210px 0px 0px 245px;
  color: #008766;
  width: 80px;
}

.nouveau2 {
  position: absolute;
  background: #99e2d0;
  color: #008766;
  width: 80px;
  margin: -210px 0px 0px 245px;
}

.coco {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  background: #f2f2f2;
  height: 100%;
  width: 100%;
  padding: 0px 0px 25px 0px;
}

.restaurant {
  margin: 30px 0px 20px 0px;
  width: 280px;
  font-size: 1.5em;
}

.commentaire {
  display: grid;
  grid-template-columns: 290px 40px;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  background: white;
  margin: -5px 0px 0px 0px;
  height: 50px;
  border-radius: 0px 0px 20px 20px;
}

.com1 {
  grid-column: 1;
  grid-row: 1;
  margin: 0px 0px 0px 10px;
}

.com2 {
  grid-column: 1;
  grid-row: 2;
  margin: 0px 0px 0px 10px;
}

.com3 {
  grid-column: 2;
  grid-row: 1/span 2;
  margin: 0px 0px 0px 10px;
}

.bado {
  background: url("images/icone/heart.svg");
  width: 16px;
  height: 16px;
}

.bado:hover {
  background: url("images/icone/heart.svg") none;
  background: url("images/icone/heart_violet.png") no-repeat;
}

.coeur222 {
  background-image: url("images/restaurants/menil_340_220.jpg");
  width: 340px;
  height: 220px;
}

.blanc {
  background: white;
  border-radius: 0px 0px 10px 10px;
  margin: 0px 0px 0px 0px;
  padding: 10px 0px 0px 0px;
}

.gras {
  font-weight: bold;
}

footer {
  background: #535353;
  color: white;
  padding: 0px 0px 0px 20px;
}

.foo {
  color: white;
}

a:link {
  text-decoration: none;
}

img.icone {
  width: 10px;
  height: 10px;
  padding: 0px 10px 0px 0px;
}

.foo2 {
  color: white;
}

.page {
  margin: 0 auto;
  width: 375px;
}

.gras {
  font-weight: bold;
}

.blanc {
  background: white;
  border-radius: 10px;
}

.pad1 {
  margin: 0px 10px 0px 10px;
  border: solid red 1px;
}

.gauche {
  width: 50px;
  border-bottom: solid #99e2d0 3px;
  text-align: left;
  margin: 0px 0px 0px -268px;
  padding: 0px 0px 0px 0px;
}

.modele1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 340px;
}

.fleche {
  width: 30px;
  height: 30px;
}

.tes {
  background: url("../page/images/restaurants/menil_370_240.jpg");
  width: 370px;
  height: 220px;
}

.menu11 {
  margin: -20px 0px 0px 0px;
  padding: 0px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background: #f2f2f2;
  /*justify-content: space-between;*/
  width: 370px;
  /*height: 2400px;*/
  border-radius: 30px 30px 0px 0px;
}

.eloigne {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}

.dessert {
  width: 100%;
  margin: 0px 0px 0px 10px;
}

.trait {
  width: 50px;
  border-bottom: solid #99e2d0 3px;
  margin: 0px 0px 0px 0px;
}

.spacebetbet {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
}

.btn_commande {
  border-radius: 20px;
  background: linear-gradient(#ff79da, #9356dc);
  width: 120px;
  height: 40px;
  margin: 0px 20px 0px 20px;
}

.btn {
  border: none;
  background: transparent;
  width: 120px;
  height: 40px;
}

a, .com {
  color: white;
  text-decoration: none;
}

.heart {
  width: 20px;
  height: 20px;
}

.ent {
  display: grid;
  grid-template-columns: 280px 25px 1fr;
  grid-template-rows: 1fr 1fr;
  border: solid yellow 1px;
  width: 345px;
}

.item1 {
  grid-column: 1;
  grid-row: 1;
  margin: 0px 0px 0px 10px;
}

.item2 {
  grid-column: 1;
  grid-row: 2;
  margin: 0px 0px 0px 10px;
}

.item3 {
  grid-column: 2;
  grid-row: 2;
  margin: 0px 0px 0px -10px;
}

.item4 {
  grid-column: 3;
  grid-row: 1/span 2;
}

.round {
  position: relative;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  opacity: 0;
}

.round:hover {
  background: #99e2d0;
  opacity: 1;
  width: 40px;
  height: 40px;
  margin: 0px 0px 0px 0px;
  border-radius: 0px 10px 10px 0px;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  width: 28px;
  position: absolute;
  left: 5px;
  top: 5px;
  opacity: 1;
}

.round label:after {
  border: 2px solid #99e2d0;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type=checkbox] {
  visibility: hidden;
}

.round input[type=checkbox]:checked + label {
  background-color: white;
  border-color: white;
}

.round input[type=checkbox]:checked + label:after {
  opacity: 1;
}

a[href^=mailto]::before {
  content: "📧 ";
}

a[href^=tel]::before {
  content: "📞 ";
}/*# sourceMappingURL=main.css.map */