.container:hover > .item2 > .image > .cheque {animation: rotation 0.7s  ease-in 0.4s forwards;}
.container:hover > .item2 > .image {animation: chekk 1.2s   linear forwards;}

@keyframes chekk {
from { width: 0px;padding-left: 0px;opacity: 1;}
to {width: 50px;padding-left:-50px;opacity: 1}
}

@keyframes rotation {
from { transform: rotate(0deg);}
to { transform: rotate(360deg);}
}