.container:hover > .item2 > .image > .cheque {animation: rotation 0.7s  ease-in 0.4s forwards;}
.container:hover > .item2 > .image {animation: chekk 1.2s   linear forwards;}
.image { height: 40px;width: 0px;background: #99e2d0;border-radius: 0px 10px 10px 0px;opacity: 0;
overflow: hidden;}/**margin: -20px 0px 0px 0px**/

.image {width: 0px;height: 40px;margin-top: -20px;background: #99e2d0;border-radius: 0px 10px 10px 0px;opacity: 0;overflow: hidden;}
.cheque {border-radius: 50%;background: white;width: 20px;height: 20px;margin: 10px 0px 0px 10px}

@keyframes chekk {
from { width: 0px;padding-left: 0px;opacity: 1;}
to {width: 50px;padding-left:-50px;opacity: 1}
}

@keyframes rotation {
from { transform: rotate(0deg);}
to { transform: rotate(360deg);}
}